{% if request.user.is_authenticated %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Cadastro</title>
</head>
<body>
Tem certeza que deseja excluir o cadastro do morador '{{ object.nome }}'?:
<form action="." method="post">
    {% csrf_token %}
    <input type="submit" value="Sim, tenho certeza">
</form>  
</body>
</html>
{% else %}
    Você não tem acesso a essa área! Seu Liso!
{% endif %}